.DS_Store
.dart_tool/
.idea/


.packages
.pub/
pubspec.lock

build/
.history/lib/src/flutube_player_20191227034659.dart
.history/lib/src/flutube_player_20200225092544.dart
.history/lib/src/flutube_player_20200225092851.dart
.history
